*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/stadium_background.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.stade-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.backup-players{
    /* background-color: aqua; */
    
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.card {
    width: 200px;
    height: 240px;
    /* background-color: #249acd; */
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;    
    text-align: center;    
    
     
}
.player-name{
    font-weight: bold;
    font-size: 15px;
}
.pac-rating{
    font-weight: bold;
    font-size: 12px;
}
.rating-position{
    position: absolute;
    left: 35px
}
.card-content{
    margin-top: 40px;
    
}
.card img{
    width: 120px;
}
.player-rating{
    font-weight: bold;
}
.player-score{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
}
.flags{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.flags img{
    width: 20px;
    height: 13px;
}

.form-player{
    width: 20%;
    opacity: 0.8;
    color: white;
    
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    margin-right: 20px;
    padding: 20px;
    background-color: #191919;
    border-radius: 8px;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
form input{
    padding: 10px;
    border-radius: 5px;
}

form select{
    padding: 10px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

button {
    background-color: #5c7029;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.stade{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(37, 1fr);
    height: 900px;
    background-color: #3d3333;
    margin: auto ;
    margin-top: 50px;
    position: relative;
    /* opacity: 0.5; */
    

}

.LW {
    grid-row: 6/15;
    grid-column: 2/6;
    /* background-color: #2658be;  */
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}



.ST{
    grid-row: 5/14;
    grid-column: 8/12 ;
    /* background-color: blue; */
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}

.RW{
    grid-column: 14/18;
    grid-row: 6/15;
    /* background-color: brown; */
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}
.CM1{
    /* background-color: #45a049; */
    grid-column: 4/8;
    grid-row: 15/23;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
    
}
.CM2{
    /* background-color: #45a049; */
    grid-column: 8/12;
    grid-row: 15/23;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}
.CM3{
    /* background-color: #45a049; */
    grid-column: 12/16;
    grid-row: 15/23;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}
.GL {
    /* background-color: #2658be; */
    grid-column: 8/12;
    grid-row: 30/38;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}

.LB{
    /* background-color: #2658be; */
    grid-column: 1/5;
    grid-row: 23/31;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
    
}
.CB1{
    /* background-color: #2658be; */
    grid-column: 6/10;
    grid-row: 23/31;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
    
}
.CB2{
    /* background-color: #2658be; */
    grid-column: 11/15;
    grid-row: 23/31;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}
.RB{
    /* background-color: #2658be; */
    grid-column: 15/19;
    grid-row: 23/31;;
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}