*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/stadium_background.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.stade-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.backup-players{
    /* background-color: aqua; */
    
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.card {
    width: 200px;
    height: 240px;
    /* background-color: #249acd; */
    background-image: url(./images/badge_gold.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;    
    text-align: center;    
    
     
}
.rating-flex-deux{
    display: flex;
    gap: 5px;
}
.input-rating{
    width: 140px;
}
.player-name{
    font-weight: bold;
    font-size: 15px;
}
.pac-rating{
    font-weight: bold;
    font-size: 12px;
}
.rating-position{
    position: absolute;
    left: 35px
}
.card-content{
    margin-top: 40px;
    
}
.card img{
    width: 120px;
}
.player-rating{
    font-weight: bold;
}
.player-score{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
}
.flags{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.flags img{
    width: 20px;
    height: 13px;
}

 /* form style */
.form-player{
    width: 20%;
    opacity: 0.8;
    color: white;
    
}
.form-container {
    max-width: 500px;
    margin: 20px auto;
    margin-right: 20px;
    padding: 20px;
    background-color: #191919;
    border-radius: 8px;
    
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.normal-player{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.goalkeeper-player{
    display: none;  
   
}
.player-ratings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    padding: 10px;
    border-radius: 5px;
}

form select{
    padding: 10px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

button {
    background-color: #5c7029;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.stade{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(37, 1fr);
    height: 900px;
    background-image: url(./images/black-stade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto ;
    margin-top: 50px;
    position: relative;
    /* opacity: 0.5; */
}

.card-GL{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LW {
    grid-row: 6/15;
    grid-column: 2/6;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
    color: white;
}



.ST{
    grid-row: 5/14;
    grid-column: 8/12 ;
    /* background-color: blue; */
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}

.RW{
    grid-column: 14/18;
    grid-row: 6/15;
    /* background-color: brown; */
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
    color: white;
}
.CM1{
    /* background-color: #45a049; */
    grid-column: 4/8;
    grid-row: 15/23;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
    
}
.CM2{
    /* background-color: #45a049; */
    grid-column: 8/12;
    grid-row: 15/23;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}
.CM3{
    /* background-color: #45a049; */
    grid-column: 12/16;
    grid-row: 15/23;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px;
}
.GL {
    /* background-color: #2658be; */
    grid-column: 8/12;
    grid-row: 30/38;
    background-image: url(./images/black-card.webp);
    color: white;
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}

.LB{
    /* background-color: #2658be; */
    grid-column: 1/5;
    grid-row: 23/31;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
    
}
.CB1{
    /* background-color: #2658be; */
    grid-column: 6/10;
    grid-row: 23/31;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
    
}
.CB2{
    /* background-color: #2658be; */
    grid-column: 11/15;
    grid-row: 23/31;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}
.RB{
    /* background-color: #2658be; */
    grid-column: 15/19;
    grid-row: 23/31;;
    background-image: url(./images/black-card.webp);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 230px; 
}

  /* style card- goalkeeper */
.rating-position-gl{
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 15px;
}
.player-rating-gl{
    font-weight: bold;
}
.card-GL img{
    width: 105px;
    margin-top: 40px;
}
.player-informations-GL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.player-score-GL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 9px;
    
}
.flex-player{
    display: flex;
    gap: 5px;

}
.player-name-GL{
    margin-top: 4px;
    font-weight: bold;
    font-size: 13px;

}
.player-flex{
    display: flex;
    flex-direction: column;
}
.flags-player{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 0;
}
.flags-player img{
    width: 12px;
    height: 10px;
    margin-top: 2px;
}


@media screen and (max-width: 1026px) and (min-width: 481px){
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .stade{
        width: 700px;
        /* margin: 30px auto; */

    }
    .form-player{
        margin: 20px auto;
        width: 500px;
        margin-bottom: 400px;
    }
    
    .backup-players{
        width: 600px;
    }
    .card{
        width: 150px;
        height: 200px;
    }
    
}
@media screen and (min-width: 1026px){
    body{
        display: flex;
        justify-content: center;
    }
    .form-player{
        margin-left: 50px;
        width: 400px;

    }
    .stade{
        margin: 30px auto;
        margin-left: 10px;
    }
    .stade-content{
        margin-left: 50px;
    }
}
@media screen and (max-width: 481px){
    body{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .form-player{
        margin-left: 60px;
        width: 500px;

    }
}
